@model MyWatchListWebApp.Models.Watch

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Watch</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BandMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BandMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DialColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DialColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BraceletColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BraceletColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerReserve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerReserve)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LugToLugWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LugToLugWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thickness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thickness)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReferenceNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
